<mat-card>
  <mat-card-content>
    <mat-card-title><h4>Change Order Status:</h4></mat-card-title>
    <form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
      <!-- Dropdown für Auftragsstatus -->
      <mat-form-field appearance="fill">
        <mat-label>Order Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Eingabefeld für die Order ID -->
      <mat-form-field appearance="fill">
        <mat-label>Order ID</mat-label>
        <input
          matInput
          formControlName="orderId"
          type="number"
          placeholder="Enter Order ID"
        />
      </mat-form-field>

      <!-- Button zum Speichern -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="statusForm.invalid"
      >
        Update Status
      </button>
    </form>
  </mat-card-content>
</mat-card>
