/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding: 10px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h4 {
  margin: 20px 0px 40px 0px;
  font-size: 18px;
  font-weight: normal;
}
